<div class="user-info" *ngIf="user">
    <h2 class="user-info__title">User Info</h2>

    <div class="user-info__box">
        <div class="user-info__box-detail">
            <div>ID:</div>
            <div>{{user.id}}</div>
        </div>
        <div class="user-info__box-detail">
            <div>Name:</div>
            <div>{{user.name}}</div>
        </div>
        <div class="user-info__box-detail">
            <div>Age:</div>
            <div>{{user.age}}</div>
        </div>
    </div>
</div>
