/* You can add global styles to this file, and also import other style files */
html *
{
  font-size: 1em;
  color: #000;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
